<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
        <% end %>
        
        <h3 class="user_lists">Following users(<%= @followings.count %>)</h3>
        <% if @followings.any? %>
            <ul class="user_lists">
                <% @followings.each do |f| %>
                    <div class="user_lists" style="clear: both;">
                        <%= link_to gravatar_for(f, size: 50), f %>
                        <span><%= link_to f.name, f %></span>
                    </div>
                <% end %>
            </ul>
        <% end %>
        
        <h3 style="clear: both;" class="user_lists">Follower users(<%= @followers.count %>)</h3>
        <% if @followers.any? %>
            <ul class="user_lists">
                <% @followers.each do |f| %>
                    <div class="user_lists" style="clear: both;">
                        <%= link_to gravatar_for(f, size: 50), f %>
                        <span><%= link_to f.name, f %></span>
                    </div>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>